*.a
*.la
*.lo
*.lo
*.o
.deps
.libs
Makefile
config.h
config.log
config.status
configure.lineno
fftw.pc
fftw3.pc
libtool
stamp-h1
tests/bench
tools/fftw-wisdom
tools/fftw-wisdom-to-conf
tools/fftw-wisdom.1
tools/fftw_wisdom.1

